<section class="connect">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3 left mt-5">
        <div class="userinfo mt-5">
  
  <div class="tt"><img src="http://localhost:3000/upload/{{client.image}}"
            alt="" class='profilepic' />
            <div class="cam"><button class="bcam" (click)="shwo()"><span ><i class="fas fa-camera"></i></span></button></div>
          </div>
          <div *ngIf="show2">
            <form #contactForm="ngForm" (ngSubmit)="uploadFile()">
              <input class="form-control form-control-sm" id="formFileSm" type="file" name="image" ngModel (change)="handelUpload($event)">
              <button type="submit">add</button>
            </form>
           </div> 
  
          <div class="information mt-3">
            <h5> <span><i class="fas fa-user"></i></span>{{client.fName}} {{client.lName}}</h5>
            <h5> <span><i class="fas fa-envelope"></i></span>{{client.email}}</h5>
            <h5> <span><i class="fas fa-phone-alt"></i></span>{{client.phone}}</h5>
            <div ><button class="bcam" (click)="showpassword()"><span ><i class="fas fa-lock"></i></span> </button>edit password</div>
          <div *ngIf="password">
            <form #updateForm="ngForm" (ngSubmit)="updateuser(updateForm.value)">
              <input class="form-control form-control-sm"  type="password" name="password" ngModel value="12345678">
              <button type="submit">add</button>
            </form>
          </div>
            <h5> <span><i class="fas fa-phone-alt"></i></span>{{client.age}}</h5>
            <h5> <span><i class="fas fa-phone-alt"></i></span>{{client.nationalId}}</h5>
            <!-- <h5> <span><i class="fas fa-user"></i></span>{{client.transactions}} </h5> -->
  
          </div>
        </div>
      </div>
      
        
    <!-- <div  [ngSwitch]="shwo">
        <div *ngSwitchCase="item.adduser"
           >
         <app-addusers></app-addusers>
        </div>
      </div> -->
       
        <div class="col-12 col-md-8 col-lg-8 mt-5" >
           <app-building></app-building> 
           
           <pdf-viewer src="{{pdfSrc}}"
              [render-text]="true"
              [original-size]="false"
              [autoresize]="true"
              [fit-to-page]="true"
              style="width: 100%;   height: 100vh"
  ></pdf-viewer>
            </div>
         
  
        
  
    
     
  
  
    
   
    </div>
  </section>