<section class="header">
    <form [formGroup]="transaction" (ngSubmit)="addtransction()"  class="container  mb-5 border border-info card">
    <h2 class="mt-2">add</h2>
    <div class="mb-3">
        <label for="unit" class="form-label"><span><i class="fa fa-user" aria-hidden="true"></i></span> unit</label>
        <input type="text" class="form-control " id="unit" name="unit" formControlName="unit" required #e (keyup)="test(e)"/>
      
       
    </div>
    <div class="mb-3">
        <label for="client" class="form-label"><span><i class="fa fa-user" aria-hidden="true"></i></span> client</label>
        <input type="text" class="form-control " id="client" name="client" formControlName="client" required />
       
        
    </div>
    <div class="mb-3">
       <input type="number" placeholder="unit_price" formControlName="unitprice"  >
          
       <input type="text" placeholder="payment" formControlName="payment"  value="cash">
            <select class="form-selec"  formControlName="paymentmethods" aria-placeholder="methods">
                
                <option value="month" selected>month</option>
                <option value="half">half</option>
                <option value="quarter">quarter</option>
              </select>
           
            <input type="number" placeholder="first_part" formControlName="firstpart" #e (keyup)="test2(e)">
            <input type="number" placeholder="remaining" formControlName="remaining" >
            <input type="number" placeholder=" lnlay_values" formControlName="lnlayvalues" >
        </div> 


    

  
  

    
   
  
   
   
   
    <button type="submit" class="btn  mb-3" >Submit</button>
</form>
</section>

