<section class="header ">
    <div class="titel mt-5">
        <!-- <h3>{{builing.projectName}}</h3> -->
        <input type="search" [(ngModel)]="searchText" placeholder="search by number or area" name="search" class="search">
    </div>
    <table class="table  text-center table-bordered border-primary  container">
    <thead>
      <tr>
        <th scope="col">id</th>
       
        <th scope="col">buildnumber</th>
        
        <th scope="col">controols</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr >
        <th scope="row">{{builing._id}}</th>
      
        <table class="table  text-center table-bordered border-primary  container">
          <thead>
            <tr>
              <th scope="col">id</th>
              
              <th scope="col">buildnumber</th>
              <th scope="col">area</th>
             
              <th scope="col">controols</th>
            </tr>
          </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of bulidings |filter:searchText">
       
            <td> {{item._id}}</td>
            <td>{{item.num}} </td>
            <td> {{item.area}}</td>
            <td> <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success" routerLink="/getsigleproject/{{projectId}}/getsinglebuilding/{{builing._id}}/getsinglebuild/{{item._id}}">viwe</button>
            </div></td>
           
        </tr>
      </tbody>
    </table>
      
    
     
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success" routerLink="/getsingleclient/">viwe</button>
            <button type="button" class="btn btn-warning" (click)="shwo()">add build</button>
            <button type="button" class="btn btn-danger">delete</button>
          </div>
        </td>
      </tr>
     
    </tbody>
  </table>

  <div class="card  mx-auto border border-primary " style="width: 50rem;"  *ngIf="show">
    <div> <h2 class="ms-2">Add build</h2>
    <form #buildForms="ngForm"(submit)=" addbuild(buildForms.value)"  class="container ">
      <div class="mb-3">
          <label for="num" class="form-label"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>build number</label>
          <input
            type="number"
            class="form-control "
            id="num"
            name="num"
            ngModel
         #num="ngModel"
            required
            num
          
          />
         
        </div>
  
        <div class="mb-3">
          <label for="area" class="form-label"><span><i class="fa fa-key" aria-hidden="true"></i></span>area</label>
          <input
            type="text"
            class="form-control "
            id="area"
            name="area"
            ngModel
           #area="ngModel"
            required
           
           
          />
         
        </div>
        
  
      <button type="submit" class="btnn  mb-1" >Add </button>
     
    </form></div>
   
  
  </div>
</section>

