<section class="header">
    <div class="card  mx-auto border border-primary " style="width: 22rem;" >
        <h2 class="ms-2">new password</h2>
       
        <form #loginForms="ngForm"  (submit)="new(loginForms.value)"  class="container ">
          <div class="mb-3">
              <label for="email" class="form-label"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>email</label>
              <input
                type="email"
                class="form-control "
                id="email"
                name="email"
                ngModel
             #email="ngModel"
             required
             email
              
              />
             
            </div>
      
            <div class="mb-3">
                <label for="newPassword" class="form-label"><span><i class="fa fa-key" aria-hidden="true"></i></span>new Password</label>
                <input
                  type="password"
                  class="form-control "
                  id="newPassword"
                  name="newPassword"
                  ngModel
                 #newPassword="ngModel"
                  required
                  minlength="6"
                 
                />
               
              </div>
            
    
          <button type="submit" class="btn  mb-1" >send</button>
         
        </form>
      
      </div>   

</section>
