.card{
    margin-top: 100px !important;
    margin-bottom: 80px;
    background-color: transparent;
    color: white;
}
.btnn{
    background-color: #644071;
    color: white;
}
.header{
    background-image: url(../../../assets/img/home-s-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}
.table{
    color: white;
    margin-top: 60px;
}
.titel{
    text-align: center;
   
   
    color: aqua;
}