<footer >
    <div class="footer">
        <div class="container ">  
             <div class="row ">
        <div class="col-12 col-md-4 col-lg-4 mt-5">
            <div class="about-img">
                <h5>Visit our headqurters</h5>
                <p> <span><i class="fas fa-map-marker-alt"></i></span>Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mt-5">
            <div class="about-body">
                <h5>Your call makes us happy</h5>
                <p><span><i class="fas fa-phone-alt"></i></span>
                    01159429129
                </p>
            </div>

        </div>
        <div class="col-12 col-md-4 col-lg-4 mt-5">
            <div class="about-body">
                <h5>Working hours</h5>
                <p><span ><i class="fas fa-clock"></i></span>
                    All the days of the week from 9:00am to 6:00pm
                </p>
            </div>

        </div>
    </div>
</div>
    </div>


 
</footer>
<footer class="capy">
    <p class="mt">© 2023 Developed By ISLAM HASSAN</p>
 </footer>
