.card{
    margin-top: 100px !important;
    margin-bottom: 80px;
    background-color: transparent;
    color: white;
}
.btn{
    background-color: #644071;
    color: white;
}
.header{
    background-image: url(../../../assets/img/home-s-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}
.btnt{
    color: white;
    background-color: #644071;
    width: 50%;
}