<section class="header ">
    <div class="titel mt-5">
        <h3>ALL CLIENT</h3>
    </div>
    <table class="table  text-center table-bordered border-primary  container">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">projectName</th>
        <th scope="col">proType</th>
      
        <th scope="col">controols</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let bilid of buliding">
        <th scope="row">{{bilid._id}}</th>
        <td> {{bilid.projectName}}</td>
        <td>{{bilid.proType}}</td>
       
        <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success" routerLink="/getsingleproject/{{bilid._id}}">viwe</button>
            <button type="button" class="btn btn-warning">edit</button>
            <button type="button" class="btn btn-danger">delete</button>
          </div></td>
      </tr>
     
    </tbody>
  </table></section>