<section class="header">
    <div class="card  mx-auto border border-primary " style="width: 22rem;" >
        <h2 class="ms-2">login</h2>
        <form #loginForms="ngForm"  (submit)=" forgetpassword(loginForms.value)"  class="container ">
          <div class="mb-3">
              <label for="email" class="form-label"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> Email</label>
              <input
                type="email"
                class="form-control "
                id="email"
                name="email"
                ngModel
             #email="ngModel"
                required
                email
              
              />
             
            </div>
      
          
            
    
          <button type="submit" class="btn  mb-1" >send</button>
         
        </form>
      
      </div>   

</section>
