<div class="container mt-3" id="mainDiv">
    <form #loginForm="ngForm" (ngSubmit)="submit()">
  
  
        <div class="row mb-3 loginDiv">
            <input #name="ngModel" type="text" class="form-control " name="name" [(ngModel)]="model.name" required />
  
        </div>
  
        <br>
  
        <div class="row mb-3 loginDiv">
            <input #age="ngModel" type="text" class="form-control" name="age" [(ngModel)]="model.age" required />
  
        </div>
  
        <div class="col-12">
            <button type="submit"  class="btn btn-primary btn-type-primary">
        add
      </button>
        </div>
    </form>
  
  </div>