<section class="header"><form   class="container  mb-5 border border-info card">
    <h2 class="mt-2">add unit</h2>
    <div class="mb-3">
        <label for="unitnumber" class="form-label"><span><i class="fa fa-user" aria-hidden="true"></i></span> unit number</label>
        <input type="number" class="form-control " id="unitnumber" name="unitnumber" ngModel  required />
       
    </div>
    <div class="mb-3">
        <label for="price" class="form-label"><span><i class="fa fa-user" aria-hidden="true"></i></span> price</label>
        <input type="number" class="form-control " id="price" name="price" ngModel  required />
       
    </div>
    <div class="mb-3">
        <label for="status" class="form-label"><span><i class="fa fa-user" aria-hidden="true"></i></span> status</label>
        <input type="text" class="form-control " id="status" name="status" ngModel  required />
       
    </div>
   
    <button type="submit" class="btn  mb-3" >Submit</button>
</form>
</section>