<section class="header">
  <div class="card  mx-auto border border-primary " style="width: 50rem;">
    <h2 class="ms-2">Add Project</h2>
    <form #projectForms="ngForm"  (submit)="addproject(projectForms.value)"  class="container ">
      <div class="mb-3">
          <label for="projectName" class="form-label"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> projectName</label>
          <input
            type="text"
            class="form-control "
            id="projectName"
            name="projectName"
            ngModel
         #projectName="ngModel"
            required
            projectName
          
          />
         
        </div>
  
        <div class="mb-3">
          <label for="dec" class="form-label"><span><i class="fa fa-key" aria-hidden="true"></i></span>describe</label>
          <input
            type="text"
            class="form-control "
            id="dec"
            name="dec"
            ngModel
           #dec="ngModel"
            required
           
           
          />
         
        </div>
        
  
      <button type="submit" class="btn  mb-1" >Add </button>
     
    </form>
  
  </div>
</section>

